<!doctype html>
<html lang="en" ng-app="TOswimApp" ng-controller="PoolListCtrl">
<head>
  <meta charset="utf-8">
  <title>TO Swim: {{query}}</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
</head>
<body>
  <p>Total number of pools: {{pools.length}}</p>

  <div class="container-fluid">
    <div class="col-md-2">
      <!-- Sidebar content -->

      <label>Universal search: <input ng-model="query"></label>

  Date:
  <select name="repeatSelect" id="repeatSelect" ng-model="filter[date]">
   <option ng-repeat="date in getDates()" value="{{date}}">{{date}}</option>
  </select>

    </div>
  </div>

  <div class="col-md-10">
    <!-- Body content -->
    <p>Matches: {{filtered.length}}</p>
    <ul class="pools">
      <li ng-repeat="pool in filtered=(pools | filter:query | filter:filterByDate) | orderBy:distanceSort">
        <span>{{pool.name}}</span><br />
        <span>Address: {{pool.address}}</span><br>
        <span>Distance: {{getDistance(pool.coordinates.latitude, pool.coordinates.longitude) | number: 1}} KM </span><br>
          <span> Swim Times</span>
          <ul>
            <li ng-repeat="(date, times) in pool.times | limitdaysTo:5">{{date}}
              <ul>
                <li ng-repeat="time in times"> {{time}}</li>
              </ul>
            </li>
          </ul>
      </li>
    </ul>

    <pre>{{pools | filter:query |orderBy:distanceSort | json}}</pre>
  </div>
</body>
</html>
